#content {
  width: 80%;
  margin: auto;
}

#topInfo {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 1.5em;
}

#title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 120%;
  text-transform: capitalize;
}

#numberOfMovies {
  color: blue;
}

thead#headTable {
  color: blue;
  border: 3px solid #075bf8;
}

tbody {
  border: 1px solid blue;
  text-align: center;
}

img {
  width: 20%;
  height: 10%;
}

#like:hover {
  color: rgb(0, 238, 255);
}

h6#footer {
  position: -webkit-sticky;
  position: sticky;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.7rem
}

#myName {
  font-family: fantasy;
  color: blue;
}

@media only screen and (max-width: 600px) {
  img {
    width: 60%;
    height: 40%;
  }
}

@media only screen and (max-width: 400px) {
  #content {
    width: fit-content;
    margin: auto;
  }
  #topInfo {
    justify-content: center;
    align-items: center;
    margin: 1.5em;
  }
}