#container {
  width: auto;
}

#content {
  width: 80%;
  margin: auto;
}

#topInfo {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border-bottom: 4px solid blue;
  border-top: 4px solid blue;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#title {
  font-family: 'Times New Roman', Times, serif;
  font-size: 120%;
  text-transform: capitalize;
}

#main {
  display: block;
  width: 100%;
  overflow-x: scroll;
}

#numberOfMovies {
  color: blue;
}

thead#headTable {
  color: rgb(8, 44, 247);
  border: 3px solid #075bf8;
  width: 100%;
}

tbody {
  border: 1px solid blue;
  text-align: center;
}

img {
  width: 20%;
  height: 10%;
}

#like:hover {
  color: rgb(0, 238, 255);
}

h6#footer {
  position: -webkit-sticky;
  position: sticky;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.7rem
}

#myName {
  font-family: fantasy;
  color: blue;
}

@media only screen and (max-width: 600px) {
  img {
    width: 60%;
    height: 40%;
  }
}